<!-- <div class="chat-container">
    <div class="chat-header">
        <img src="/images/profile.webp">
        <span class="name">Demo User</span>
        <span class="material-symbols-outlined toggle-chat">minimize</span>
        <span class="material-symbols-outlined close-chat">
        close
        </span>
    </div>
    <div class="message">
        <li class="send">Hi there, how are you</li>
        <li>fine how are you</li>
        <li class="send">Hi there, how are you</li>
        <li>fine how are you</li>
        <li class="send">Hi there, how are you test rhe user cdase m,lmasd jnuiansd ms</li>
        <li>fine how are you i there, how are you test rhe user cdase m,lmasd </li>
        <li class="send">Hi there, how are you</li>
        <li>fine how are you</li>
        <li>fine how are you</li>
    </div>
    <div class="send-message">
        <form>
            <textarea name="message" rows="1" placeholder="Type your message here" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</div> -->
