<div class="comments">
    <div class="info">
        <img src="/images/profile.webp" alt="">
        <div>
            <p><%=i.comments[j].user.name%></p>
            <p><%=i.comments[j].createdAt.toLocaleString()%></p>
        </div>
        <% if (locals.user && (user.id === i.user.id || user.id === i.comments[j].user.id)){ %>
            <a href="/comment/delete/<%= i.comments[j].id%>">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </a>
        <% } %>
    </div>
    <p class="content"><%=i.comments[j].content%></p>
</div>