<header>
    <div>Codeial</div>

    <div>
    <% if (locals.user){%>
        <a href="./sign-out"><button data-name="sign-out">Sign Out</button></a>
    <%}else{%>
        <a href="./sign-in"><button>Sign In</button></a>
        <a href="./sign-up"><button>Sign Up</button></a>        
    <%}%>
    </div>
</header>