<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div id="home">
    <% if (locals.user){ %>
        <form action="/post/create" method="post" id="post-form">
            <textarea name="content" cols="30" rows="5" placeholder="Enter your post here" required></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>
    <div>
        <section id="post-container">
            <%for (i of posts){%>
                <%- include("_post")-%>
            <%}%>
        </section>
        <aside>
            <h3>Friends :-</h3>
            <% for (i of profile_user){ %>
                <a href="/user/profile/<%=i.id%>">
                    <div class="friends">
                        <img src="/images/profile.webp" alt="">
                        <div>
                            <p><%=i.name%></p>
                            <p>Since <%=i.createdAt.toLocaleString('default', { month: 'long' , year: "numeric"})%></p>
                        </div>
                    </div>
                </a>
            <% } %>
        </aside>
    </div>
</div>

<script src="/js/home_post.js"></script>