<section>
    <h4>Enter your new password</h4>
    <form action="./change-password" method="post">
        <label for="password">Password </label>
        <input type="password" name="password" required>
        <input type="password" name="password_confirm" required>
        <input type="text" name="access_token" value="<%=token.accessToken%>" required hidden>
        <button type="submit">Submit</button>
    </form>
</section>