<div>
    <h5>Codial Sign Up</h5>
    <form action="./create" method="post">
        <div>
            <span>Name</span>
            <input type="text" placeholder="Enter your name" name="name">
        </div>
        <div>
            <span>Email</span>
            <input type="email" placeholder="Username" name="email">
        </div>
        <div>
            <span>Password</span>
            <input type="password" placeholder="Password" name="password">
        </div>
        <div>
            <span>Confirm Password</span>
            <input type="password" placeholder="Password" name="confirm_password">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>