<div>
    <h5>Codial Sign In</h5>
    <form action="./create-session" method="post">
        <div>
            <span>Email</span>
            <input type="email" placeholder="Username" name="email">
        </div>
        <div>
            <span>Password</span>
            <input type="password" placeholder="Password" name="password">
        </div>
        <button type="submit">Log In</button>
    </form>
</div>