$primary-color: rgb(33,37,41);
$font-color-dark: rgba(255, 255, 255, 0.55);
$secondary-color: #f8f9fa;
$success: #198754;
$background-color: rgb(241, 242, 242);

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &>form{
        width: 80%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid black;
        margin-bottom: .5rem;

        textarea{
            width: 80%;
            height: 5rem;
            background-color: $font-color-dark;
            padding: .5rem;
            resize: none;
            outline: none;
        }

        input[type="submit"]{
            padding: .3rem .5rem;
            color: $primary-color;
            background-color: transparent;
            border: 1px solid $primary-color;
            cursor: pointer;
            border-radius: 4px;
            transition: all .2s ease-in-out;

            &:hover{
                background-color: $success;
                color: white;                
                border-color: transparent;
            }
        }
    }

    &>div{
        width: 80%;
        display: flex;
        justify-content: space-between;

        section{
            width: 70%;

            & a{
                line-height: 0;
            }
            
            .card{
                border: 1px solid #dee0e1;
                background-color: #fff;
                padding: 0.6rem;
                margin: 0.3rem 0;
    
                &>:not(:last-child){
                    margin-bottom: .4em;
                }
                
                .info{
                    width: 100%;
                    display: flex;
                    align-items: center;
        
                    & *{
                        font-size: .95em;
                    }
                    
                    img{
                        width: 2.5em;
                        height: 2.5em;
                        border-radius: 50%;
                        margin-right: .5em;
                    }
    
                    div{
                        flex-grow: 1;
                        
                        &>:first-child{
                            font-weight: 500;
                        }
    
                        &>:last-child{
                            font-size: .9em;
                        }
                    }
    
                    a>span{
                        font-size: 1.3em;
                        color: black;
                    }
                }
    
                .content{
                    text-align: justify;
                    line-height: 1.4em;
    
                    &::first-letter{
                        text-transform: capitalize;
                    }
                }
                
                .likes-comments{
                    display: flex;
                    align-items: center;

                    .like-count{
                        margin-left: .3rem;
                        font-weight: 500;
                    }

                    .comment-post{
                        flex-grow: 1;
                        display: flex;
        
                        &>:first-child{
                            flex-grow: 1;
                            padding: 0.1rem;
                            margin: 0 .6rem;
                        }
        
                        button{
                            padding: .1rem;
                            cursor: pointer;
                        }
                    }
                }
    
                .comments{
                    padding: .3em 0;
                    margin-left: 2em;
                    width: 80%;
                    border-top: 1px solid $primary-color;
                    
                    & *{
                        font-size: .85em;
                    }
                }
            }
        }

        aside{
            width: 20%;
            
            .friends{
                background-color: $font-color-dark;
                display: flex;
                align-items: center;
                padding: .2rem;
                font-size: .85rem;
                margin: .2rem 0;
                border: 1px solid #dee0e1;

                img{
                    height: 2.5rem;
                    width: 2.5rem;
                    margin-right: .2rem;
                }

                div>:first-child{
                    font-weight: 500;
                    font-size: .9rem;
                }
            }
        }
    }

}