<div>
    <h2>Hello <%= comment.user.name%>!</h2>
    <br>
    <p>Your comment <strong>(<%= comment.content%>)</strong> is now published on codeial </p>
    <br>
    <br>
    <span>Thank you</span>
</div>