#profile .user-card {
  width: 80%;
  background-color: #a4a4a4;
  border-radius: 5rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile .user-card > * {
  margin: .5rem;
}

#profile .user-card > img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

#profile .user-card > form {
  background-color: #f1f2f2;
  border-radius: 1rem;
  width: 70%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

#profile .user-card > form > button {
  width: 5rem;
  align-self: center;
}
